@import "./../../../styles/variables.scss";

.breadcrumbContainer {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: $breadcrumb;

    &::after {
      content: ">";
      margin-left: 0.5rem;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
