@import "./../../../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0.8rem;
  background-color: $footer-color;

  .more {
    display: none;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 0.5rem;

    div {
      background-color: $white;
      height: 2.3rem;
      width: 2.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.3rem 0 0 0.3rem;

      img {
        width: 1rem;
      }
    }

    input {
      border-radius: 0 0.3rem 0.3rem 0;
      height: 2.3rem;
      max-width: 14.125rem;
      background-color: $white;
      border: none;
      outline: none;
    }
  }

  .navTabs {
    display: flex;
    img {
      display: none;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: $nav-text;
      gap: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    justify-content: space-between;

    .more {
      align-self: center;
      display: block;
      width: 1.5rem;
      filter: invert(1);
    }

    .navTabs {
      position: fixed;
      flex-direction: column;
      gap: 1rem;
      height: 100vh;
      background-color: $footer-color;
      right: -100rem;
      width: 90%;
      transition: 1s;
      z-index: 10;
      margin: 0;
      top: 0;
      padding-top: 0.75rem;

      img {
        display: block;
        width: 1.5rem;
        margin: 0.5rem 1rem;
        filter: invert(1);
      }

      ul {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        align-self: center;
      }
    }

    .show {
      right: 0;
      transition: 1s;
    }
  }
}
