@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $background;
}

p {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

input {
  border: none;
}

hr {
  border: none;
  height: 1px;
  background-color: $border-color;
}

li {
  list-style: none;
}

button {
  border: none;
}
