$background: #fbfcfd;
$button-color: #1b88f4;
$card-tab-text: #074786;
$card-tab: #f2f4f7;
$card-text: #626e79;
$text-color: #5c6874;
$footer-color: #212731;
$footer-text: #b6bdc4;
$tag-color: #ff7724;
$nav-text: #d1d6da;
$discount: #ef4c5d;
$white: #ffffff;
$prev-price: #9fa9b3;
$tile-text: #4b5665;
$tile-head: #2c384a;
$rating-back: #f3f9ff;
$border-color: #e1e4e6;
