@import "./../../../styles/variables.scss";

.btn {
  background-color: $button-color;
  color: $white;
  width: 100%;
  min-width: 14.5rem;
  padding: 0.75rem 0rem;
  border-radius: 0.75rem;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}
