@import "./../../../styles/variables.scss";

.tileContainer {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  border-radius: 0.75rem;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
  position: relative;
  margin: 3rem 0;
  transition: 1s;

  &:hover {
    box-shadow: 1px 1px 10px $border-color;
    transition: 0.5s;
  }

  .tag {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: $tag-color;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    gap: 0.5rem;
    top: -1.2rem;
    left: -0.5rem;

    img {
      width: 1.25rem;
      height: 1.25rem;
      filter: invert(1);
    }
  }

  .index {
    position: absolute;
    font-size: 1.2rem;
    top: 2rem;
    left: -1.5rem;
    border: 1px $border-color solid;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    background-color: $white;
    color: $card-text;
  }

  .imgSection {
    align-self: center;
    img {
      width: 25vmin;
    }

    p {
      text-align: center;
      color: $card-text;
      font-size: 0.8rem;
    }
  }

  .tileInfo {
    padding: 1.5rem 0 1rem;
    width: 490px;

    p {
      color: $tile-text;
      margin-bottom: 0.5rem;
      span {
        font-weight: 700;
      }
    }

    h4 {
      font-weight: 700;
      color: $tile-head;
    }

    .highlights {
      margin: 0.75rem;
    }

    button {
      color: $button-color;
      background-color: transparent;
    }
  }

  .ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .rating {
      text-align: center;
      background-color: $rating-back;
      border-radius: 0px 0px 12px 12px;
      color: $card-tab-text;
      padding: 1.5rem;

      .rate {
        font-size: 2rem;
      }

      p {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
      }

      .stars {
        align-self: center;
      }
    }

    button {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .tileContainer {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    gap: 1rem;

    .index {
      left: 0;
      border-radius: 0;
      background-color: $rating-back;
      border-color: $rating-back;
      border-radius: 0 0.75rem 0.75rem 0;
    }

    .imgSection {
      margin-top: 2rem;
    }

    .tileInfo {
      width: 100%;
      padding: 0;

      h4 {
        margin: 1.2rem 0 0.5rem;
      }

      .highlights {
        margin: 0;
      }
    }

    .ratingContainer {
      width: 100%;
      justify-content: end;
      align-items: stretch;
      gap: 1rem;

      .rating {
        border-radius: 0.75rem;
      }
    }
  }
}
