@import "./../../../styles/variables.scss";

.tileContainer {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  border-radius: 0.75rem;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  position: relative;
  margin: 3rem;

  .tag {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: $tag-color;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    gap: 0.5rem;
    top: -1.2rem;
    left: -0.5rem;

    img {
      width: 1.25rem;
      height: 1.25rem;
      filter: invert(1);
    }
  }

  .index {
    position: absolute;
    font-size: 1.2rem;
    top: 2rem;
    left: -1.5rem;
    border: 1px $border-color solid;
    padding: 0.5rem 1.1rem;
    border-radius: 50%;
    background-color: $white;
  }

  .imgSection {
    img {
      width: 30vmin;
    }

    p {
      text-align: center;
      color: $card-text;
      font-size: 0.8rem;
    }
  }

  .tileInfo {
    padding: 1.5rem 0 0.5rem;
    width: 490px;

    p {
      color: $tile-text;
      margin-bottom: 0.5rem;
      span {
        font-weight: 700;
      }
    }

    h4 {
      font-weight: 700;
      color: $tile-head;
    }

    .highlights {
      margin: 0.75rem;
    }

    button {
      color: $button-color;
    }
  }

  .ratingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 256px;

    .rating {
      text-align: center;
      background-color: $rating-back;
      border-radius: 0px 0px 12px 12px;
      color: $card-tab-text;
      padding: 1rem;

      .rate {
        font-size: 2rem;
      }

      p {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
      }

      .stars {
        height: 10px;
        background-color: yellow;
      }
    }

    button {
      margin-bottom: 1rem;
    }
  }
}
