@import "./../../styles/variables.scss";

.heroContainer {
  align-self: center;
  width: 90%;
  max-width: 1024px;

  h1 {
    color: $tile-head;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .subHead {
    font-size: 0.8rem;
    color: $tile-text;
    padding: 0.7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 1.25rem;
      opacity: 0.6;
    }

    .metaInfo {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }

    button {
      color: $tile-text;
    }
  }

  .tabs {
    display: flex;
    font-size: 0.8rem;
    color: $tile-text;
    gap: 1rem;
    margin: 1rem 0rem;

    li {
      padding: 0.5rem 1.5rem 0.5rem 1rem;
      background-color: $white;
      border-radius: 0.75rem;
    }
  }

  .dealsContainer {
    margin: 3rem 0;

    h2 {
      font-size: 2rem;
      color: $tile-head;
      margin-bottom: 1rem;
    }

    .deals {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  .signUp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0 1rem;

    h2 {
      font-size: 2rem;
      color: $text-color;
      margin-left: 2rem;
      width: 80%;
    }

    .email {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      width: 100%;

      input {
        border-radius: 0.75rem 0 0 0.75rem;
        max-width: 21.75rem;
        outline: none;
        padding-left: 1.5rem;
      }

      button {
        font-size: 0.8rem;
        border-radius: 0 0.75rem 0.75rem 0;
        padding: 1rem;
        width: fit-content;
        min-width: max-content;
      }
    }
  }
}

@media (max-width: 768px) {
  .heroContainer {
    margin: 0 1rem;
    h1 {
      font-size: 7vmin;
    }

    .subHead {
      flex-direction: column;

      .metaInfo {
        gap: 0.5rem;
        margin-bottom: 1rem;
      }

      button {
        align-self: flex-end;
      }
    }

    .tabs {
      overflow-x: auto;
      scrollbar-width: none;
    }

    .dealsContainer {
      h2 {
        font-size: 5.5vmin;
      }
      .deals {
        overflow-x: auto;
        scrollbar-width: none;
      }
    }

    .signUp {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h2 {
        font-size: 5.5vmin;
        width: 100%;
        text-align: center;
        margin-left: 0;
      }

      .email {
        justify-content: center;
      }
    }
  }
}
